<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Engagement Lab</title>
		<meta name="description" content="We are an applied research lab dedicated to innovating the ways people participate in civic life and expanding the study of citizenship in a digital era.">
		<meta name="author" content="Engagement Lab">
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{{!-- Load our CSS/docs --}}
		{{> css environment=env}}
		
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
		- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="/js/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery/jquery.plugin.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
	</head>
	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
	<body class="page-loader-3">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
			
			<!-- header-container start -->
			<div class="header-container">
				
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ -->
				<header class="header  fixed   clearfix">
					
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">
									<!-- logo -->
									<div id="logo" class="logo">
										<a href="/"><img id="logo_img" src="/images/layout/logo.png" alt="Engagement Lab"><span>Engagement Lab</span></a>

									</div>
									<!-- name-and-slogan -->
									<div class="site-slogan">
									</div>
									
								</div>
								<!-- header-left end -->
							</div>
							<div class="col-md-9">
								
								<!-- header-right start -->
								<!-- ================ -->
								<div class="header-right clearfix">
									
									<!-- main-navigation start -->
									<!-- ================ -->
									<div class="main-navigation  animated with-dropdown-buttons">
										<!-- navbar start -->
										<!-- ================ -->
										<nav class="navbar navbar-default" role="navigation">
											<div class="container-fluid">
												<!-- Toggle get grouped for better mobile display -->
												<div class="navbar-header">
													<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													</button>
													
												</div>
												<!-- Collect the nav links, forms, and other content for toggling -->
												<div class="collapse navbar-collapse" id="navbar-collapse-1">
													<!-- main-menu -->
													<ul class="nav navbar-nav">
														{{# each navLinks}}
															<li class="{{#if this.subLinks}}dropdown{{else}}mega-menu{{/if}} {{#ifeq ../section key}}active{{else}}{{/ifeq}}">
																<a class="dropdown-toggle"{{#if this.subLinks}} data-toggle="dropdown_{{key}}"{{/if}} href="{{ href }}">{{ label }}</a>
																{{#if this.subLinks}}
																	<ul class="dropdown-menu">
																			{{#each this.subLinks}}
																				<li{{#ifeq ../sub_section key}} class="active"{{/ifeq}}>
																						<a href="{{href}}">{{label}}</a>
																				</li>
																			{{/each}}
																	</ul>
																{{/if}}
															</li>

														{{/each}}

													</ul>
													<!-- main-menu end -->

													<!-- header dropdown buttons -->
													<!-- <div class="header-dropdown-buttons hidden-xs ">
														<div class="btn-group dropdown">
															<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user-1"></i></button>
															<ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
																<li>
																	<div class="panel-body text-right">
																		{{#if user}}
																			<a href="/keystone" class="btn btn-group btn-gray btn-sm">Go to Content Management</a>
																			<a href="/keystone/signout" class="btn btn-group btn-gray btn-sm">Sign Out</a>
																		{{else}}
																			<a href="/keystone/signin" class="btn btn-group btn-gray btn-sm">Sign In</a>
																		{{/if}}
																	</div>
																</li>
															</ul>
														</div>
													</div> -->
													<!-- header dropdown buttons end-->
													
												</div>
											</div>
										</nav>
										<!-- navbar end -->
									</div>
									<!-- main-navigation end -->
								</div>
								<!-- header-right end -->
								
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- BODY CONTENT START -->
			{{{body}}}
						
			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix dark">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<div class="footer-content text-center padding-ver-clear">
										{{!-- <div class="logo-footer"><img id="logo-footer" class="center-block" src="images/logo_light_blue.png" alt=""></div> --}}
									<p class="text-center">We are an applied research lab dedicated to innovating the ways people participate in civic life and expanding the study of citizenship in a digital era.<br />
										<ul class="list-inline mb-20">
											<li><i class="text-default fa fa-map-marker pr-5"></i>120 Boylston St. Boston, MA 02116</li>
											{{!-- <li><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+00 1234567890</a></li> --}}
											<li><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info at elab.emerson.edu</li>
										</ul>
										<ul class="social-links circle animated-effect-1 margin-clear">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com/EngagementLab"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com/EngageLab"><i class="fa fa-twitter"></i></a></li>
											<li class="github"><a target="_blank" href="https://github.com/engagementgamelab"><i class="fa fa-github"></i></a></li>
										</ul>
										<div class="separator"></div>
										<p class="text-center margin-clear">Powered by <a href="http://www.keystonejs.com/">KeystoneJS</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

			</footer>
			<!-- footer end -->
				
				<!-- page-wrapper end -->
				{{#ifeq env "development"}}
					{{> script/development section=section}}
				{{else}}
					{{> script/production section=section}}
				{{/ifeq}}

				{{{isAdminEditorJS user}}}
			</body>
		</html>