{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* News/blog Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<!-- NEWS START -->
<!-- banner start -->
<!-- ================ -->
	<div class="clearfix dark light-gray-bg banner" style="background-image:url('images/page-about-banner-2.jpg');">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 pv-40 ph-30 featured-blog">
					<h2>Featured Blog Post</h2>
					<div class="post-info">
						<span class="post-date">
							<i class="icon-calendar"></i>
							<span class="day">12</span>
							<span class="month">May 2015</span>
						</span>
						<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
						<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
					</div>
					<p class="summary sfb hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, maiores, aliquid. Repellat eum numquam culpa offici, tenetur fugiat dolorum sapiente...
					</p>
						<a href="#">Read More <i class="fa fa-arrow-right"></i></a>
					<p class="tp-caption sfb fadeout small_white hidden-xs">
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- banner end -->
	<!-- main-container start -->
	<!-- ================ -->
	<section class="news-container">
		<div class="container-fluid no-gutter">
			<!-- blog start -->
			<div class="col-md-8 ph-30 blog-feed">
				<h1 class="page-title">Blog Feed</h1>
				<div class="separator-2 mb-12"></div>
				{{!-- {{jsonPrint news}} --}}
				{{#each news}}
				<!-- blogpost start -->
				<article class="blogpost">
					<div class="row grid-space-10">
						<div class="col-md-6">
							<div class="overlay-container">
								<img src="{{image}}" alt="">
								<a class="overlay-link" href="{{url}}"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="col-md-6">
							<header>
								<h3><a href="{{url}}">{{title}}</a></h3>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="month">{{date published format='MM-DD-YYYY'}}</span>
										{{!-- <span class="day">{{date published format=''}}</span> --}}
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by {{author}}</span>
									{{!-- <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span> --}}
								</div>
							</header>
							<div class="blogpost-content">
								<p>"...{{{content}}}..."</p>
							</div>
						</div>
					</div>
					<footer class="clearfix">
						<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
						<div class="link pull-right"><i class="icon-link"></i><a href="{{url}}">Read More</a></div>
					</footer>
				</article>
				{{/each}}
			</div>
			<!-- blog end -->
			<!-- events start -->
			<div class="col-md-4 ph-30 news-sidebar">
				<!-- <div class="affix"> -->
				<div id="event-section">
					<h3 class="page-title">Events</h3>
					<div class="separator-2 mb-20"></div>
					{{#if events}}
					{{#each events}}
					<!-- event start -->
					<div class="media margin-clear">
						<div class="media-left">
							<div class="overlay-container">
								<img class="media-object" src="{{logo.url}}" alt="{{name.text}}">
								<a href="{{vanity_url}}" class="overlay-link small"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="media-body">
							<h6 class="media-heading"><a href="{{vanity_url}}">{{name.text}}</a></h6>
							<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>{{date start.local format='MM/DD/YYYY'}}</p>
						</div>
						<hr>
					</div>
					<!-- event end -->
					{{/each}}
					{{/if}}
					
					<!-- events end -->
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
	/*$(function() {

		// $('#event-section').css('top', parseInt($('body').css('padding-top')) + parseInt($('.news-sidebar').css('padding-top')) + 'px');

		$('#event-section').affix({
		  offset: {
		  	top: function () {
		  		// console.log($('.featured-blog').outerHeight(true) + parseInt($('.news-sidebar').css('padding-top')))
		  		return (this.top = $('.featured-blog').outerHeight(true))
		  	},
		    // top: $('.featured-blog').outerHeight(true) + parseInt($('.news-sidebar').css('padding-top')),
		    bottom: function () {
		      return (this.bottom = $('#footer').outerHeight(true))
		    }
		  }
		})
	})*/
	</script>
	<!-- main-container end -->