{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* Press Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<!-- PRESS START -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
	<div class="container">
		<!-- blog start -->
		<div class="col-md-12 ph-30">
			<h1 class="page-title">Press Archives</h1>
			<div class="separator-2 mb-12"></div>
			{{!-- {{jsonPrint news}} --}}
			{{#each news}}
			<!-- blogpost start -->
			<article class="blogpost">
				<div class="row grid-space-10">
					<div class="col-md-6">
						<div class="overlay-container">
							<img src="{{image}}" alt="">
							<a class="overlay-link" href="{{url}}"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="col-md-6">
						<header>
							<h3><a href="{{url}}">{{title}}</a></h3>
							<div class="post-info">
								<span class="post-date">
									<i class="icon-calendar"></i>
									<span class="month">{{date published format='MM-DD-YYYY'}}</span>
									{{!-- <span class="day">{{date published format=''}}</span> --}}
								</span>
								<span class="submitted"><i class="icon-user-1"></i> by {{author}}</span>
								{{!-- <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span> --}}
							</div>
						</header>
						<div class="blogpost-content">
							<p>"...{{{content}}}..."</p>
						</div>
					</div>
				</div>
			</article>
			{{/each}}
		</div>
	</div>
</section>
<!-- main-container end -->