{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Tamagagement Ghost Page Template 
 * - See Cmap model for fields
 * - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<section class="section main tama">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="tama-text" id="tama-name">Errol the Tamagagement Ghost <3</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tama-container">
					<img src="/images/tamagagement/{{mood}}.png" alt="Errol">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="tama-text" id="tama-feeling">{{message}}</h3>
				{{#each actions}}
				<form method="POST">
					<input type="hidden" value="{{this.id}}" name="action">
					<button type="submit" class="btn btn-default">{{this.label}}</button>
				</form>
				{{/each}}
			</div>
		</div>
	</div>
</section>