{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Person Bio partial
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<div class="col-sm-6 col-md-4 text-center person-bio-left" data-category="{{person.category}}" data-key="{{person.key}}">
	<img id="{{cleanString person.name.first}}-{{cleanString person.name.last}}" src="{{{cloudinaryUrl person.image width=192 height=192}}}" alt="{{person.name.first}} {{person.name.last}}" class="photo">

	<ul class="social-links circle light margin-clear pv-20">
		{{#if person.fbURL}}
			<li class="facebook"><a target="_blank" href="{{person.fbURL}}"><i class="fa fa-facebook"></i></a></li>
		{{/if}}

		{{#if person.twitterURL}}
			<li class="twitter"><a target="_blank" href="{{person.twitterURL}}"><i class="fa fa-twitter"></i></a></li>
		{{/if}}

		{{#if person.linkedInURL}}
			<li class="linkedin"><a target="_blank" href="{{person.linkedInURL}}"><i class="fa fa-linkedin-square"></i></a></li>
		{{/if}}

		{{#if person.githubURL}}
			<li class="github"><a target="_blank" href="{{person.githubURL}}"><i class="fa fa-github"></i></a></li>
		{{/if}}

		{{#if person.websiteURL}}
			<li class="website"><a target="_blank" href="{{person.websiteURL}}"><i class="fa fa-home"></i></a></li>
		{{/if}}
	</ul>

	{{#if person.email}}
		<div><i class="text-default fa fa-envelope pl-10 pr-5"></i>{{emailFormat person.email}}</div>
	{{/if}}

	{{#if person.phone}}
		<div><i class="text-default fa fa-phone pl-10 pr-5"></i>{{person.phone}}</div>
	{{/if}}

</div>

<div class="col-sm-6 col-md-7 person-bio-right">
	<h1>About <i>{{person.name.first}} {{person.name.last}}</i></h1>
	<p>{{person.title}}</p>
	<div class="lead">
		{{{person.bio.html}}}
	</div>
</div>