<div class="image-box style-3 pv-40 listing-box">
	<div class="row">
		<div class="col-md-6">
			<div class="overlay-container" id="listing-img">
				<a href="{{listing.href}}"><img src="{{{cloudinaryUrl listing.image width=600 height=450 crop='fill' quality=80}}}"></a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="body">
				<h3 class="title"><a href="{{listing.href}}">{{listing.name}}</a></h3>
				<a href="{{listing.href}}"><p>{{listing.description}}</p></a>
			</div>
		</div>
	</div>
</div>
<div class="separator-5"></div>