<div class="image-box style-3 pv-40">
	<div class="row grid-space-0">
		<div class="col-md-6">
			<div class="overlay-container">
				<a href="{{listing.href}}">{{{listing.image}}}</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="body">
				<h3 class="title"><a href="{{listing.href}}">{{listing.name}}</a></h3>
				<p>{{listing.description}}</p>
			</div>
		</div>
	</div>
</div>
<div class="separator-5"></div>