{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* Project preview partial
* - See Project model for fields
* - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<div class="col-sm-6 col-md-4">
	<a href="{{listing.href}}">
		<div class="image-box style-2 mb-20 project-box">
			<div class="overlay-container overlay-visible">
				<img src="{{cloudinaryUrl listing.image crop='fill' width=600 height=450}}" alt="{{listing.name}}">
			</div>
			<div class="body">
				{{#if listing.description}}
					<p><span id="sublisting-title">{{listing.name}}</span> {{limit listing.description 300}}</p>
				{{/if}}
			</div>
		</div>
	</a>
</div>