{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* Project preview partial
* - See Project model for fields
* - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
{{!-- {{ jsonPrint project }} --}}
<div class="col-sm-4 col-lg-3">
	<div class="image-box style-2 mb-20 project-box">
		<div class="overlay-container overlay-visible">
			{{!-- <img src="{{{cloudinaryUrl this width/=372 height=230}}}" alt="{{../listing.name}}" /> --}}
			<a href="{{listing.href}}"><img src="/images/page-about-banner-2.jpg" alt="{{../listing.name}}"></a>
		</div>
		<div class="body">
			<p><span id="project-title">{{listing.name}}</span> {{listing.description}}</p>
		</div>
	</div>
</div>