{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Project Category directory Page Template 
 * - See ProjectCategory model for fields
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- main-container start -->
<!-- ================ -->
<div class="page-wrapper">
	<section class="main-container">
		<div class="container">
			<div class="row">
				<!-- main start -->
				<!-- ================ -->
				{{!-- uncomment to have a slimmer, centered column --}}
				<!-- <div class="main col-md-10 col-md-offset-1"> -->
				<div class="main col-md-12">
					<h1 class="page-title">Research</h1>
					<h6 class="lead">Lorem ipsum dolor sit amet! consectetur? adipisicing elit Illo quaerat commodi excepturi? DIGNISSIMOS!!!!!</h6>

					{{#each categories}}
						<div class="image-box style-3 pv-40">
							<div class="row grid-space-0">
								<div class="col-md-6">
									<div class="overlay-container">
										{{{image}}}
									</div>
								</div>
								<div class="col-md-6">
									<div class="body">
										<h3 class="title"><a href="/research/{{key}}">{{name}}</a></h3>
										
										<p>{{{description.html}}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="separator-5"></div>
					{{/each}}
					
				</div>
				<!-- main end -->
			</div>
		</div>
	</section><!-- .main-container -->
</div>