{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Project Page Template 
 * - See Project model for fields
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}
<!-- PROJECT START -->
<div class="banner clearfix">
	<div class="container-fluid">
		<div class="row" id="project_header">
			<div class="banner pv-40" style="background-image:url('{{{cloudinaryUrl project.headerImage width=1425 height=450 crop='fill' quality=80}}}');">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100" id="project-title">{{project.name}}</h2>
						</div> <!-- .col-md-8 -->
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .banner -->
		</div> <!-- .row -->
	</div> <!-- .container -->
	<div id="page-start"></div>
</div>
<section class="section light-gray-bg clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>About <i>{{project.name}}</i></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-8">
				{{{project.overview.html}}}
			</div>
			<div class="col-sm-6 col-md-4">
				<img id="side-image" src="{{{cloudinaryUrl project.sideImage crop='fill' width=420 height=420}}}" alt="">
			</div>
		</div> <!-- .row -->
	</div> <!-- .container -->
</section>
<section class="main-container">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<ul class="nav nav-pills" role="tablist">
					{{#if project.projectImages}}
						<li class="active"><a href="#pill-images" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> Images</a></li>
					{{/if}}
					
					{{#if project.videos}}
						<li class="{{#if videosTabFirst}}active{{/if}}"><a href="#pill-videos" role="tab" data-toggle="tab" title="videos"><i class="fa fa-video-camera pr-5"></i> Videos</a></li>
					{{/if}}

					{{#if project.files}}
						<li class="{{#if filesTabFirst}}active{{/if}}"><a href="#pill-downloads" role="tab" data-toggle="tab" title="downloads"><i class="fa fa-paperclip pr-5"></i> Resources</a></li>
					{{/if}}
					{{#each project.tabHeadings}}
						<li class="{{#if ../customTabsFirst}}active{{/if}}"><a href="#pill-{{@index}}" role="tab" data-toggle="tab" title="custom-{{@index}}"><i class="fa fa-pencil pr-5"></i> {{this}}</a></li>
					{{/each}}
				</ul>
				<div class="tab-content space-bottom">

					{{#if project.projectImages}}
						<div class="tab-pane active" id="pill-images">
							<div class="space-bottom"></div>

							{{!-- Glider.js structure --}}
							<div id="project_images_glider" class="glide">

								    <div class="glide__arrows project">
								        <button class="glide__arrow prev" data-glide-dir="<"></button>
								        <button class="glide__arrow next" data-glide-dir=">"></button>
								    </div>

								    <div class="glide__wrapper">
								        
								        <ul class="glide__track" style="margin-left:-40px">
													{{!-- @key is caption, "this" is image object --}}
													{{# each projectImageObjects}}
														<li class="glide__slide">
															<img src="{{{cloudinaryUrl width=500 quality=60}}}" alt="{{@key}}">
															<div class="caption lead">{{@key}}</div>
														</li>
													{{/each}}
								        </ul>

										</div>

							</div>

						</div>
					{{/if}}

					{{!-- Project Videos --}}
					{{#if project.videos}}
						<div class="tab-pane {{#if videosTabFirst}}active{{/if}}" id="pill-videos">
						{{#each project.videos}}

							<div class="embed-responsive embed-responsive-16by9">
								{{{ data.html }}}
							</div>
							<br />

						{{/each}}
						</div>
					{{/if}}

					{{!-- Project Files --}}
					{{#if project.files}}
						<div class="tab-pane {{#if filesTabFirst}}active{{/if}}" id="pill-downloads">
							<ul class="resources">
							{{#each project.files}}
								{{#if file}}
									<li><a href="{{file.url}}"><i class="fa fa-file-{{fileType file}} pr-5"></i> {{name}}</a></li>
								{{/if}}

							{{/each}}
							</ul>
						</div>
					{{/if}}

					{{!-- Project Custom Tabs --}}
					{{#each project.tabText}}
						<div class="tab-pane {{#if ../customTabsFirst}}{{#ifeq @index 0}}active{{/ifeq}}{{/if}}" id="pill-{{@index}}">
							<p>{{{this}}}</p>
						</div>
					{{/each}}
				</div>
			</div>

			<div class="col-md-4">
				<div class="footer-content">
					<h3 class="title">Project Information {{!-- and Partners --}}</h3>
					<div class="separator-2"></div>

					{{#if project.externalLinkUrl}}
						<a href="{{project.externalLinkUrl}}" title="Project Website" class="btn radius-50 btn-default-transparent btn-lg">Project Website</a>
					{{/if}}
					{{#if project.githubUrl}}
						<a href="{{project.githubUrl}}" title="Project Github" class="btn radius-50 btn-default-transparent btn-lg"><i class="fa fa-github-alt"></i></a>
					{{/if}}
					<ul class="list-icons">
						<li><b>Project Dates:</b> {{projectDates}}</li>
						<li><b>Contact:</b> <i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info at elab.emerson.edu</li>
					</ul>
				</div>
			</div> <!-- .col-md-4 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</section>
{{#if project.articles}}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="title"><i>{{project.name}}</i> News</h1>
				<div class="separator-5"></div>
				<div class="clearfix mb-10"></div>
			</div>
		</div>
		<div class="row">
			{{# each project.articles}}
				<div class="col-sm-6 col-md-4">
					<div class="image-box style-2 mb-20 text-center news-box">
						<div class="overlay-container">
							<a href="{{url}}"><img src="{{image}}" alt="{{data.title}}" width="350" height="233"></a>
						</div>
						<div class="body">
							<h4><a href="{{url}}">{{data.title}}</a></h4>
							{{#if data.description}}
								<p>{{limit data.description 100}}</p>										
							{{/if}}
						</div>
					</div>
				</div>

			{{/each}}
		</div> <!-- .row -->
	</div> <!-- .container -->
</section>
{{/if}}
