{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Project Page Template 
 * - See Project model for fields
 * - Use {{jsonPrint publication}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}
<!-- PUBLICATION START -->
<div class="banner clearfix">
	<div class="container-fluid">
		<div class="row" id="project_header">
			<div class="banner pv-40 dark-bg" style="background-image:url('{{{cloudinaryUrl publication.bannerImage width=1425 height=450 crop='crop' quality=80}}}');">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100" id="project-title">{{publication.title}}</h3>
						</div> <!-- .col-md-8 -->
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .banner -->
		</div> <!-- .row -->
	</div> <!-- .container -->
	<div id="page-start"></div>
</div>
<section class="main-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8">
				<h3>About</h3>
				<div class="separator-2"></div>
				{{{publication.description.html}}}
			</div>
			<div class="col-sm-6 col-md-4">
				<h3>Additional Information</h3>
				<div class="separator-2"></div>
				<a href="http://elab.emerson.edu/games/emerging-citizens/" class="btn radius-50 btn-default-transparent btn-lg">Project Website</a>
				<a href="http://elab.emerson.edu/games/emerging-citizens/" class="btn radius-50 btn-default-transparent btn-lg"><i class="fa fa-facebook"></i></a>
				<a href="http://elab.emerson.edu/games/emerging-citizens/" class="btn radius-50 btn-default-transparent btn-lg"><i class="fa fa-twitter"></i></a>
				<ul class="list-icons">
					<li><b>URL:</b> <a href="www.elab.emerson.edu/games/emergingcitizens"> www.elab.emerson.edu/games/emergingcitizens</a></li>
					<li><b>Published </b> {{publication.date}}</li>
				</ul>
			</div> <!-- .col-md-4 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</section>