{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* Project Directory Page Template
* - See Project model for fields
* - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<!-- PUBLICATIONS START -->
<section class="main-container">
	<div class="container">
		<div class="main">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title"><strong>Research: </strong><span class="font-light">{{name}}</span></h1>
					{{> page/lead}}
				</div>
			</div>
		</div>
	</div>
	{{#if publications}}
		<div class="container">
			{{#each publications}}
				<div class="row">
					<div class="col-md-12">
						<h3>{{@key}}s</h3>
						<div class="separator-5"></div>
					</div>
				</div>
				{{!-- filters start --}}
{{!-- 				{{#if this.sub_sections}}
					<div class="row">
						<div class="col-md-12">
							<div class="filters mb-40">
								<ul class="nav nav-pills">
									<li class="active"><a href="#" data-filter=".{{trim @key}}, .none">All</a></li>
									{{#each this.sub_sections}}
									<li><a href="#" data-filter=".{{trim @key}}.{{key}}, .none">{{name}}</a></li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
				{{/if}} --}}
				{{!-- filters end --}}
						
				{{#if this.isJournal}}
				<div class="row">
					{{#each records}}
						{{> publications/list_item listing=this}}
					{{/each}}
				</div>
				{{else}}
				<div class="row">
					{{#each records}}
						{{> publications/grid_item listing=this}}
					{{/each}}
				</div>
				{{/if}}

			{{/each}}
		</div>
	{{/if}}
</section>