{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* Project Directory Page Template
* - See Project model for fields
* - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<!-- PUBLICATIONS START -->
<!-- main-container start -->
<!-- ================ -->
<div class="container">
	<div class="row">
		<div class="col-md-8 pv-20">
			<h1 class="page-title"><strong>Research: </strong><span class="font-light">{{name}}</h1>
			{{> page/lead}}
		</div>
	</div>
</div>
<!-- main-container end -->
<!-- section start -->
<section>
	<div class="container">
		<div class="row">
			<div class="main col-md-12">
				{{#if publications}}
					<div class="container">
					{{#each publications}}
						<div class="row">

							<h3>{{@key}}s</h3>
							<div class="separator-5"></div>
							<br>
							{{!-- filters start --}}
							{{#if this.sub_sections}}
								<div class="filters">
									<ul class="nav nav-pills">
										<li class="active"><a href="#" data-filter=".{{trim @key}}, .none">All</a></li>
										{{#each this.sub_sections}}
										<li><a href="#" data-filter=".{{trim @key}}.{{key}}, .none">{{name}}</a></li>
										{{/each}}
									</ul>
								</div>
							{{/if}}
							{{!-- filters end --}}

							{{#if this.isJournal}}
								{{#each records}}
									{{> publications/list_item listing=this}}
								{{/each}}
							{{else}}
								{{#each records}}
									{{> publications/grid_item listing=this}}
								{{/each}}
							{{/if}}
						</div>
					{{/each}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</section>