{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Team member partial 
 * - See Team model for fields
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}
<div class="col-sm-6 col-md-4 team-member">
	<div class="image-box style-2 mb-20 text-center">
			
		<a href="/people/{{person.key}}">
			<img id="{{cleanString person.name.first}}-{{cleanString person.name.last}}" src="{{{cloudinaryUrl person.image}}}" alt="{{person.name.first}} {{person.name.last}}" class="photo">
			
			<div class="body">
				<h3 class="margin-clear theme-primary">{{person.name.first}} {{person.name.last}}</h3>
				<p>{{person.title}}</p>
			</div>
		</a>

	</div>
</div>