{{!-- 
/**
	* Engagement Lab Website
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured project partial 
	* ==========
	*/
--}}
<div class="banner border-clear" style="background-image:url('{{{cloudinaryUrl project.headerImage crop='fill' quality=80 effect='gradient_fade:1' x='0.75' background='#000000'}}}');">
	<div class="container featured-project">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-1">
				<div class="va-container">
					<div class="va-align">
						<h1><strong>Featured:</strong></h1>
						<h1>{{project.name}}</h1>
						<p>{{project.description}}</p>
						<p><a href="/research/{{project.subdirectory.key}}/{{project.key}}">Read more</a>
					</div> <!-- .va-align -->
				</div> <!-- .va-container -->
			</div> <!-- .col-sm-6 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .banner -->
