<div class="col-md-4">
	<div class="pv-30 ph-20 recent-event-box white-bg feature-box bordered text-center">
		<div class="va-container">
			{{!-- {{#if event.date}}
			<div class="posted-date">
				<p class="month">{{date event.date format='MMM'}}</p>
				<p class="day">{{date event.date format='DD'}}</p>
			</div>
			{{/if}} --}}
			<div class="va-align">
				<div class="summary">
					<h4>{{event.title}}</h4>
					{{#if event.content}}
						<p>{{{limit event.content 150}}}</p>
					{{/if}}
				</div>
				<a href="{{event.url}}">Go to {{event.type}} <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
			</div>
		</div>
	</div>
</div>