{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* Journal Article partial
* - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<div class="col-sm-6 col-md-8">
	<div class="body">
		<h3 class="title"><a href="{{listing.url}}">{{listing.title}}</a></h3>
		<p class="small mb-10">{{#if listing.date}}<i class="icon-calendar"></i> {{date listing.date format='MM DD YYYY'}}{{/if}} <i class="icon-user-1"></i> {{listing.author}}</p>
		<div class="separator-2"></div>
		<p class="mb-40"><strong>{{listing.blurb}}</strong><br/> </p>
	</div>
</div>